.shapes{
    display: flex;
    gap : 20px;
    flex-wrap:wrap ;
}


.circle{
    height: 100px;
    width: 100px;
    background-color: lightgreen;
    border-radius: 50px;
}
.oval {
    height: 100px;
    width: 200px;
    background-color: lightblue;
    border-radius: 100px / 50px;
}
.rhombus{
    height: 100px;
    width: 200px;
    background-color: lightcoral;
    transform: skew(-20deg);
}