.colorcircles {
    display: flex;
    gap: 20px;
    margin-top: 200px;
    margin-left: 300px;
    opacity: 50%;
}

.green {
    background-color: rgb(18, 154, 86);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    opacity: 50%;
}

.white {
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    opacity: 50%;
}

.black {
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    opacity: 50%;
}

.orange {
    background-color: rgb(255, 119, 0);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    opacity: 50%;
}